@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-primary: #282c34;
  --clr-black: #000;
  --clr-dark-grey: #7f8b8f;
  --clr-red: #dc281e;
  --clr-green: #b0fc38;
  --clr-darkGreen: #4b6043;

  --ff-primary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --margin: 1rem;
  --padding: 0.5rem;
  --line-height: 1.5;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;

  line-height: var(--line-height);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.v-centered {
  align-items: center;
}

.flex-col {
  width: 50%;
}

.input-container {
  margin-bottom: 2rem;
}

.container {
  padding: 1.5rem;
}

.centered {
  width: 70%;
  margin: auto;
}

.text-center {
  text-align: center;
}

h1 {
  color: black;
}
@media (min-width: 576px) {
  .app-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .app-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .app-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .app-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .app-container {
    max-width: 89%;
  }
}
