.home {
  min-height: 100vh;
}

.description {
  margin: 3rem auto;
  text-align: center;
  padding: 2rem;
}

.description > h1 {
  margin-bottom: 1rem;
  text-indent: 2rem;
}
.description > h3 {
  margin-bottom: 1rem;
  text-indent: 2rem;
}

.description > p {
  letter-spacing: 2px;
  text-indent: 2rem;
}
