.card-container {
  width: 14rem;
  height: 20rem;
  font-size: 1rem;
  margin: auto 1.4rem;
  margin-bottom: 1.7rem;
  transition: transform 0.5s;
}
.card {
  width: inherit;
  border-radius: var(--radius);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 20rem;
}

.card-image-container {
  height: 10rem;
  width: 100%;
  position: relative;
}

.card-image {
  height: inherit;
  width: 100%;
  vertical-align: middle;
}

.card-content {
  width: 100%;
  padding: 1rem;
  height: 11rem;
  background-color: #eeecf3;
}

.card-title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 0.4rem;
  overflow: hidden;
}
.card-icon-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}

.card-text {
  color: var(--clr-darkGreen);
  font-weight: 400;
}

.card-icon-container {
  height: 1.08rem;
  margin-right: 1rem;
}

.card-icon {
  width: 1.1rem;
  color: white;
}

.club-card-link {
  display: block;
  text-align: center;
  color: tomato;
}
.club-card-link:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
  height: 1.7rem;
  line-height: 2;
}
.card-container:hover {
  transform: scale(1.02);
}
.card:hover {
  box-shadow: 10px 10px 5px var(--clr-green);
}
